::selection {
  color: var(--p-basic-backgroud);
  background: var(--p-secondary-text);
}

:root {
  cursor: url("/src/assets/images/cursor-default.png"), default;
  a {
    cursor: url("/src/assets/images/cursor-pointer.png"), pointer;
  }
}
:root[theme="dark"] {
  cursor: url("/src/assets/images/cursor-default-light.png"), default;
  a {
    cursor: url("/src/assets/images/cursor-pointer-light.png"), pointer;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: inherit;
}

html {
  max-height: 100vh;
  max-width: 100vw;
  padding: 0 0.25rem;
  background-color: var(--p-basic-backgroud);
  overflow: hidden;
  line-height: 1.5;
  font-family: "Rubik", "Noto Sans TC", Inter, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: calc(10 / 16 * 100%); //1rem = 10px
  font-weight: 600;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  height: calc(100vh - 10rem);
  width: 100%;
  margin-top: 10rem;
  padding-bottom: 5rem;
  color: var(--p-basic-text);
  overflow: hidden auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    margin: 0.5rem;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background-color: var(--p-gray-3);
    &:hover {
      background-color: var(--p-gray-4);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
input {
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
}
a {
  font-size: inherit;
  text-decoration: none;
  letter-spacing: 0.02em;
}
button {
  border: none;
}
hr {
  border: none;
  border-top: 1px solid var(--p-gray-3);
  opacity: 0.5;
}
