// HEADING
.heading {
  &-1 {
  }
  &-2 {
    font-size: 2.2rem;
    color: var(--p-primary-text);
  }
  &-3 {
    font-size: 1.4rem;
    color: var(--p-primary-text);
  }
}
.description {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--p-secondary-text);
}
