:root {
  --p-pin-light: #fff;
  --p-pin-dark: #000;

  --p-basic-backgroud: #ffffff;
  --p-basic-text: #1d1e32;

  --p-primary-color: #0062ff;
  --p-primary-text: #1d1e32;
  --p-primary-lighter: #e8efff;
  --p-primary-light: #d1e0ff;

  --p-secondary-color: #38bbff;
  --p-secondary-text: #7e8ca0;

  --p-gray-1: #f3f3f7;
  --p-gray-2: #e5e5ea;
  --p-gray-3: #dbdce6;
  --p-gray-4: #c0c2d2;
  --p-gray-5: #a0a6b9;
  --p-gray-6: #6c7387;
}
:root[theme="dark"] {
  --p-basic-backgroud: #242428;
  --p-basic-text: #ececf5;

  --p-primary-color: #1e9bff;
  --p-primary-text: #ececf5;
  --p-primary-lighter: #2e395b;
  --p-primary-light: #243d6e;

  --p-secondary-color: #4bc0ff;
  --p-secondary-text: #7e8ca0;

  --p-gray-1: #32343a;
  --p-gray-2: #44444b;
  --p-gray-3: #5a5c64;
  --p-gray-4: #81838c;
  --p-gray-5: #a6a7b4;
  --p-gray-6: #c1c3ce;
}
