@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --p-pin-light: #fff;
  --p-pin-dark: #000;
  --p-basic-backgroud: #ffffff;
  --p-basic-text: #1d1e32;
  --p-primary-color: #0062ff;
  --p-primary-text: #1d1e32;
  --p-primary-lighter: #e8efff;
  --p-primary-light: #d1e0ff;
  --p-secondary-color: #38bbff;
  --p-secondary-text: #7e8ca0;
  --p-gray-1: #f3f3f7;
  --p-gray-2: #e5e5ea;
  --p-gray-3: #dbdce6;
  --p-gray-4: #c0c2d2;
  --p-gray-5: #a0a6b9;
  --p-gray-6: #6c7387;
}

:root[theme=dark] {
  --p-basic-backgroud: #242428;
  --p-basic-text: #ececf5;
  --p-primary-color: #1e9bff;
  --p-primary-text: #ececf5;
  --p-primary-lighter: #2e395b;
  --p-primary-light: #243d6e;
  --p-secondary-color: #4bc0ff;
  --p-secondary-text: #7e8ca0;
  --p-gray-1: #32343a;
  --p-gray-2: #44444b;
  --p-gray-3: #5a5c64;
  --p-gray-4: #81838c;
  --p-gray-5: #a6a7b4;
  --p-gray-6: #c1c3ce;
}

/*
  MEDIA QUERY:     $breakpoint args
  0 - 320px:       mini-phone
  320 - 425px:     phone
  425 - 800px:     tab-port
  800 - 1200px:    tab-land
  1200 - 1600px:   (is where our normal styles apply)
  1600px +:        big-desktop

  ORDER:
  base, typography > general layout, grid > page layout > components
*/
::selection {
  color: var(--p-basic-backgroud);
  background: var(--p-secondary-text);
}

:root {
  cursor: url("/src/assets/images/cursor-default.png"), default;
}
:root a {
  cursor: url("/src/assets/images/cursor-pointer.png"), pointer;
}

:root[theme=dark] {
  cursor: url("/src/assets/images/cursor-default-light.png"), default;
}
:root[theme=dark] a {
  cursor: url("/src/assets/images/cursor-pointer-light.png"), pointer;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: inherit;
}

html {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  line-height: 1.5;
  font-family: "Rubik", "Noto Sans TC", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  font-weight: 600;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: calc(100vh - 10rem);
  width: 100vw;
  margin-top: 10rem;
  padding-bottom: 5rem;
  color: var(--p-basic-text);
  background-color: var(--p-basic-backgroud);
  overflow: hidden auto;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button {
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
}

a {
  font-size: inherit;
  text-decoration: none;
  letter-spacing: 0.02em;
}

button {
  border: none;
}

hr {
  border: none;
  border-top: 1px solid var(--p-gray-3);
  opacity: 0.5;
}

#app {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-template-columns: [full-s] 8rem [col-s] 1fr [col-e] 8rem [full-e];
}
@media only screen and (min-width: 1600px) {
  #app {
    grid-template-columns: [full-s] 12rem [col-s] 1fr [col-e] 12rem [full-e];
  }
}
@media only screen and (max-width: 1200px) {
  #app {
    grid-template-columns: [full-s] 6rem [col-s] 1fr [col-e] 6rem [full-e];
  }
}
@media only screen and (max-width: tab-land) {
  #app {
    grid-template-columns: [full-s] 6rem [col-s] 1fr [col-e] 6rem [full-e];
  }
}
@media only screen and (max-width: 800px) {
  #app {
    grid-template-columns: [full-s] 4rem [col-s] 1fr [col-e] 4rem [full-e];
  }
}
@media only screen and (max-width: tab-port) {
  #app {
    grid-template-columns: [full-s] 4rem [col-s] 1fr [col-e] 4rem [full-e];
  }
}
@media only screen and (max-width: 425px) {
  #app {
    grid-template-columns: [full-s] 2rem [col-s] 1fr [col-e] 2rem [full-e];
  }
}
@media only screen and (max-width: phone) {
  #app {
    grid-template-columns: [full-s] 2rem [col-s] 1fr [col-e] 2rem [full-e];
  }
}

.header__container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 10rem;
  padding: 0 8rem;
  background-color: var(--p-gray-1);
}
@media only screen and (min-width: 1600px) {
  .header__container {
    padding: 0 12rem;
  }
}
@media only screen and (max-width: 1200px) {
  .header__container {
    padding: 0 6rem;
  }
}
@media only screen and (max-width: tab-land) {
  .header__container {
    padding: 0 6rem;
  }
}
@media only screen and (max-width: 800px) {
  .header__container {
    padding: 0 4rem;
  }
}
@media only screen and (max-width: tab-port) {
  .header__container {
    padding: 0 4rem;
  }
}
@media only screen and (max-width: 425px) {
  .header__container {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: phone) {
  .header__container {
    padding: 0 2rem;
  }
}

.rwd__container,
.quote__container {
  grid-column: col-s/col-e;
  padding: 5rem 0;
}
@media only screen and (min-width: 1600px) {
  .rwd__container,
  .quote__container {
    padding: 8rem 0;
  }
}

.heading-2 {
  font-size: 2.8rem;
  letter-spacing: 0.02em;
  color: var(--p-primary-text);
}
@media only screen and (min-width: 1600px) {
  .heading-2 {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 1200px) {
  .heading-2 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: tab-land) {
  .heading-2 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 800px) {
  .heading-2 {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: tab-port) {
  .heading-2 {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 425px) {
  .heading-2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: phone) {
  .heading-2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 320px) {
  .heading-2 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: mini-phone) {
  .heading-2 {
    font-size: 1.8rem;
  }
}
.heading-3 {
  font-size: 2.4rem;
  color: var(--p-primary-text);
}
@media only screen and (min-width: 1600px) {
  .heading-3 {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 1200px) {
  .heading-3 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: tab-land) {
  .heading-3 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 800px) {
  .heading-3 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: tab-port) {
  .heading-3 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 320px) {
  .heading-3 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: mini-phone) {
  .heading-3 {
    font-size: 1.6rem;
  }
}
.heading-4 {
  font-size: 2rem;
  color: var(--p-primary-text);
}
@media only screen and (min-width: 1600px) {
  .heading-4 {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 1200px) {
  .heading-4 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: tab-land) {
  .heading-4 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 800px) {
  .heading-4 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: tab-port) {
  .heading-4 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 320px) {
  .heading-4 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: mini-phone) {
  .heading-4 {
    font-size: 1.2rem;
  }
}
.heading-5 {
  font-size: 1.8rem;
  color: var(--p-primary-text);
}
@media only screen and (min-width: 1600px) {
  .heading-5 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1200px) {
  .heading-5 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: tab-land) {
  .heading-5 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 800px) {
  .heading-5 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: tab-port) {
  .heading-5 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 320px) {
  .heading-5 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: mini-phone) {
  .heading-5 {
    font-size: 1.2rem;
  }
}

.normal-text {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--p-primary-text);
}
@media only screen and (min-width: 1600px) {
  .normal-text {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1200px) {
  .normal-text {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: tab-land) {
  .normal-text {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 800px) {
  .normal-text {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: tab-port) {
  .normal-text {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 320px) {
  .normal-text {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: mini-phone) {
  .normal-text {
    font-size: 1.1rem;
  }
}

.description {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: justify;
  letter-spacing: 0.05em;
  color: var(--p-secondary-text);
}
@media only screen and (min-width: 1600px) {
  .description {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 1200px) {
  .description {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: tab-land) {
  .description {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 800px) {
  .description {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: tab-port) {
  .description {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 320px) {
  .description {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: mini-phone) {
  .description {
    font-size: 1.1rem;
  }
}

.popover-left, .popover-down-left, .popover-down, .popover-right, .popover-up, .remark-text {
  font-size: 1.3rem;
}
@media only screen and (min-width: 1600px) {
  .popover-left, .popover-down-left, .popover-down, .popover-right, .popover-up, .remark-text {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1200px) {
  .popover-left, .popover-down-left, .popover-down, .popover-right, .popover-up, .remark-text {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: tab-land) {
  .popover-left, .popover-down-left, .popover-down, .popover-right, .popover-up, .remark-text {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 800px) {
  .popover-left, .popover-down-left, .popover-down, .popover-right, .popover-up, .remark-text {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: tab-port) {
  .popover-left, .popover-down-left, .popover-down, .popover-right, .popover-up, .remark-text {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 320px) {
  .popover-left, .popover-down-left, .popover-down, .popover-right, .popover-up, .remark-text {
    font-size: 1rem;
  }
}
@media only screen and (max-width: mini-phone) {
  .popover-left, .popover-down-left, .popover-down, .popover-right, .popover-up, .remark-text {
    font-size: 1rem;
  }
}

.remark-text {
  position: relative;
  display: block;
  padding-left: 1em;
  text-align: justify;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--p-secondary-text);
}
.remark-text::before {
  content: "※";
  position: absolute;
  top: 0;
  left: 0;
}

.popover-left, .popover-down-left, .popover-down, .popover-right, .popover-up {
  position: absolute;
  z-index: 10;
  padding: 0.75rem 1rem;
  font-weight: 500;
  text-align: center;
  white-space: pre;
  color: var(--p-gray-6);
  background-color: var(--p-basic-backgroud);
  border: 1px solid var(--p-gray-3);
  border-radius: 0.5rem;
  transition: all 0.3s ease-out 0.2s;
}
.popover-left::before, .popover-down-left::before, .popover-down::before, .popover-right::before, .popover-up::before {
  content: "";
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: var(--p-basic-backgroud);
  border-radius: 0.2rem;
  border-top: 1px solid var(--p-gray-3);
  border-left: 1px solid var(--p-gray-3);
}

.popover-up {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 1rem));
}
.popover-up::before {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.popover-right {
  bottom: 0;
  left: 100%;
  text-align: left;
  transform: translate(1rem, 1.5rem);
}
.popover-right::before {
  top: 100%;
  left: 0;
  transform: translate(-50%, -300%) rotate(-45deg);
}

.popover-down {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 25%);
}
.popover-down::before {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.popover-down-left {
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 1rem), -50%);
}
.popover-down-left::before {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(135deg);
}

.popover-left {
  top: 0;
  left: 0;
  transform: translate(-110%, 0);
}
.popover-left::before {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%) rotate(135deg);
}

/*# sourceMappingURL=style.css.map */
